<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>wave 47</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  
  </mat-toolbar>
</p>

<form [formGroup]="register" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Enter your name</mat-label>
    <input matInput type="text" formControlName="firstname">
  </mat-form-field>
  <p *ngIf="getfirstname?.errors?.['required']">please fill this field</p>
  <p *ngIf="getfirstname?.errors?.['minlength']">Atleast 3 letter has to be entered</p>
  <mat-form-field class="example-full-width">
    
    <mat-label>Enter your email</mat-label>
    <input matInput  formControlName="email">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Enter your age</mat-label>
    <input matInput formControlName="age">
  </mat-form-field>
  <p *ngIf="getage?.errors?.['ageError']">Person not eligible to attend the competition</p>
  <mat-form-field class="example-full-width">
    <mat-label>Enter your password</mat-label>
    <input matInput formControlName="password">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter Date Of birth</mat-label>
    <input type="date"  matInput formControlName="date" >
    <mat-hint>MM/DD/YYYY</mat-hint>
   
  </mat-form-field> 
 
  <p *ngIf="getdate?.errors?.['dateError']">Invalid value</p>
  <p>{{register.value| json}}</p>
  
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="selectdate" [max]="maxdate" [min]="mindate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <p *ngIf="selectdate?.errors?.['max']">Error</p>
  
 
  
</form>
